.home {
  padding: 0;
  padding-top: 4.6rem;

  &-slider {
    position: relative;

    &__item {
      min-height: 65vh;
      display: flex;
      align-items: center;
      //padding: 2rem;
      //padding-left: 17%;
      //z-index: 1000;
      position: relative;

      .image {
        position: absolute;
        top: 8%;
        left: 100%;
        height: 50rem;
        object-fit: contain;
      }

      .content {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(35%, -50%);

        span {
          font-size: 2rem;
          color: $light-color;
        }

        h1 {
          font-size: 5rem;
          color: $red;
          padding-top: 1.3rem;
        }
      }
    }
  }
}

.banner {
  &-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &-item {
    flex: 1 1 42rem;
    overflow: hidden;
    height: 50rem;
    position: relative;
    border: 2px solid green;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease;
    }

    &:hover img {
      transform: scale(1.2);
      transition: all 0.5s ease;
    }

    .content {
      position: absolute;
      top: 50%;
      right: 5rem;
      transform: translateY(-50%);

      span {
        font-size: 2rem;
        color: $light-color;
      }

      h3 {
        font-size: 3.2rem;
        color: $black;
        padding-top: 0.5rem;
      }
    }
  }
}

.products {
  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
    gap: 2rem;

    .buttons {
      font-size: 1.7rem;
      color: $light-color;
      cursor: pointer;

      &:hover,
      &.active {
        color: $red;
      }
    }
  }

  &-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

    &__item {
      width: 26rem;
      border-radius: 0.5rem;
      overflow: hidden;
      position: relative;
      box-shadow: $box-shadow;
      border: $border;

      &.hide {
        display: none;
      }

      &.active {
        animation: fadeUp 0.4s linear;
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        height: 35rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        gap: 0.5rem;
        transform: scale(0);
        z-index: 1;

        a {
          font-size: 2rem;
          width: 5rem;
          height: 5rem;
          text-align: center;
          line-height: 5rem;
          background: #fff;
          border-radius: 0.5rem;
          @extend %text-stroke;
        }
      }

      &:hover .icons {
        transform: scale(1);
      }

      .image {
        width: 100%;
        height: 35rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.7s ease-out;
        }
      }

      &:hover {
        .image {
          img {
            transform: scale(1.1);
            transition: all 0.7s ease-out;
          }
        }
      }

      .content {
        padding: 1rem 1.5rem;

        h3 {
          font-size: 2rem;
          color: $black;
          font-weight: normal;
        }

        .price {
          padding: 0.5rem 0;
          display: flex;
          gap: 0.5rem;
          align-items: center;

          .amount {
            font-size: 2.2rem;
            font-weight: bolder;
            color: $black;
          }

          .cut {
            font-size: 1.5rem;
            text-decoration: line-through;
            color: $light-color;
          }

          .offer {
            font-size: 2rem;
            color: $red;
          }
        }

        .stars {
          font-size: 1.7rem;

          i {
            color: gold;
          }

          span {
            color: $light-color;
          }
        }
      }
    }
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}

.deal {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  background: linear-gradient(#fff 20%, $light-bg 20.1%);
  justify-content: center;

  .image {
    flex: 1 1 42rem;

    img {
      width: 40rem;
    }
  }

  .content {
    flex: 1 1 42rem;

    span {
      color: $red;
      font-size: 1.7rem;
    }

    h3 {
      color: $black;
      font-size: 3rem;
      padding: 0.5rem 0;
    }

    p {
      color: $light-color;
      font-size: 1.5rem;
    }
  }
}

.featured {
  .featured-slider {
    .slide {
      width: 26rem;
      border-radius: 0.5rem;
      overflow: hidden;
      position: relative;
      box-shadow: $box-shadow;
      border: $border;

      /* &.hide {
        display: none;
      }

      &.active {
        animation: fadeUp 0.4s linear;
      } */

      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        height: 45rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        gap: 0.5rem;
        transform: scale(0);
        z-index: 1;

        a {
          font-size: 2rem;
          width: 5rem;
          height: 5rem;
          text-align: center;
          line-height: 5rem;
          background: #fff;
          border-radius: 0.5rem;
          @extend %text-stroke;
        }
      }

      &:hover .icons {
        transform: scale(1);
      }

      .image {
        width: 100%;
        height: 45rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.7s ease-out;
        }
      }

      &:hover {
        .image {
          img {
            transform: scale(1.1);
            transition: all 0.7s ease-out;
          }
        }
      }

      .content {
        padding: 1rem 1.5rem;

        h3 {
          font-size: 2rem;
          color: $black;
          font-weight: normal;
        }

        .price {
          padding: 0.5rem 0;
          display: flex;
          gap: 0.5rem;
          align-items: center;

          .amount {
            font-size: 2.2rem;
            font-weight: bolder;
            color: $black;
          }

          .cut {
            font-size: 1.5rem;
            text-decoration: line-through;
            color: $light-color;
          }

          .offer {
            font-size: 2rem;
            color: $red;
          }
        }

        .stars {
          font-size: 1.7rem;

          i {
            color: gold;
          }

          span {
            color: $light-color;
          }
        }
      }
    }
  }
}
