$red: #eb4d4d;
$black: #130f40;
$light-color: #666;
$light-bg: #f9f9f9;
$border: 0.1rem solid rgba(0, 0, 0, 0.3);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

%text-stroke {
  color: #fff;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem $black;

  &:hover {
    -webkit-text-stroke: 0.1rem $red;
  }
}
